mojave_topographic_data/additional_layers.tif
mojave_topographic_data/additional_layers_plot.png
mojave_topographic_data/additional_layers_summary.csv
mojave_topographic_data/AFG.tif
mojave_topographic_data/aspect.tif
mojave_topographic_data/aspect_cos.tif
mojave_topographic_data/aspect_sin.tif
mojave_topographic_data/covariate_stack.tif
mojave_topographic_data/disturbance_intensity.tif
mojave_topographic_data/elevation.tif
mojave_topographic_data/full_covariate_stack.tif
mojave_topographic_data/habitat_quality.tif
mojave_topographic_data/PFG.tif
mojave_topographic_data/resource_index.tif
mojave_topographic_data/roughness.tif
mojave_topographic_data/SHRUB.tif
mojave_topographic_data/slope.tif
mojave_topographic_data/study_area.dbf
mojave_topographic_data/study_area.prj
mojave_topographic_data/study_area.shp
mojave_topographic_data/study_area.shx
mojave_topographic_data/topographic_stack.tif
mojave_topographic_data/topographic_summary.csv
mojave_topographic_data/tpi.tif
mojave_topographic_data/TREE.tif
